@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Rubik', sans-serif;
    color: white;
    background-color: black;
    font-size: 16px;
}

/* Headings and Header */

header {
    background-color: rgba(244, 5, 5, .7);
    width: 100%;
    height: 60px;
}

h2 {
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 3px;
    font-style: italic;

}

h3 {
    font-weight: normal;
}


/* HOVER EFFECTS */


.push-zoom:hover {
    border: 1px solid white;
    color: white;
    transform: scale(1.2);
    cursor: pointer;

}

.reset-zoom:hover {
    border: 1px solid red;
    color: red;
    transform: scale(1.2);
    cursor: pointer;

}

.socials-zoom:hover {
    transform: scale(1.2);

}

#menu a:hover, td a:hover{
    border-bottom: 1px solid white;

}


/* Nav Menu */

#logo {
    font-family: 'Russo One', sans-serif;
    float: left;
    margin-left: 3rem;
    font-size: 2.5rem;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;

}

#menu, #logo {
    line-height: 60px;
}

#menu {
    float: right;
}

#menu li {
    list-style-type: none;
    display: inline-block;
    margin-right: 3rem;
}

#menu a {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
}

/*Hero Image section */

#hero {
    height: 100vh;
    width: 100%;
    background: url('../images/pexels-jonathan-borba-3076514.jpg') no-repeat left 35% top;
    background-color: black;

}

/* Join today section */

.join {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 2rem;
    background-color: rgba(0, 0, 0, .7);
}

.join h2 {
    margin: 1.5rem;
}

.join a {
    text-decoration: none;
    color: red;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-radius: 1rem;
    border: 2px solid red;
    padding: 0.75rem;
}

/* Facilities Section */

.facilities-wrapper {
    margin: 2rem auto 0 auto;
    width: 90%;
}

.facilities-wrapper h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.facilities {
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
}

.facilities .facilities-sections {
    background-color: rgba(244, 5, 5, .7);
    width: 30%;
    margin: 0px 5px 3rem 5px;
    padding: 1rem;
    line-height: 2rem;
}

.facilities-sections h3 {
    text-transform: uppercase;
}

.facilities-sections i {
    font-size: 3rem;
    margin-top: 1rem;
}

/* Contact Us Section */

.contact-wrapper {
    width: 90%;
    margin: 0 auto 3rem auto;
    text-align: center;
}

.contact {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}

.contact h3 {
    padding: 10px 0 2rem 0;
}

.contact-left {
    width: 50%;

}

.contact-right {
    width: 50%;

}

.input-outer {
    display: flex;
    padding: 1rem;

}

.contact-input {
    width: 40%;
    margin: 0 5%;

}

.contact-input input {
    width: 100%;
    line-height: 2rem;
    padding: 5px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 0.90rem;
}

.contact-message {
    margin: auto;
    width: 90%;
}

.contact-message textarea {
    width: 100%;
    padding: 10px 5px;
    height: 200px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

.contact-input ::placeholder, .contact-message ::placeholder{
    color: white;
}

.contact-submit {
    padding: 10px;
    margin-right: 5px;
    background-color: transparent;
    color: red;
    border: 1px solid red;
    border-radius: 10px;
}

.contact-reset {
    padding: 10px;
    margin-left: 5px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
}

.contact-table {
    width: 80%;
    border-collapse: collapse;
    text-align: center;
    margin: 1rem auto 0 auto;
    border: 1px solid white;

}

.contact-table td {
    padding: 10px;
    height: 2rem;
    font-size: 0.90rem;
    border-bottom: 1px solid white;
}

.contact-table a {
    text-decoration: none;
    color: white;
}


/* Submission Form Section */

#page-background {
    background: url('../images/risen-wang-20jX9b35r_M-unsplash\ \(1\).jpg') no-repeat center center;
    background-color: rgba(0, 0, 0, .7);
}

.submission-form {
    max-width: 1000px;
    margin: 4rem auto;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .7);
    text-align: center;
}

#form-heading {
    margin-bottom: 10px;
    padding: 5px;
    text-transform: uppercase;
    background-color: rgba(244, 5, 5, .7);
}

.form-divs {
    justify-content: center;
    clear: both;

}

.double {
    display: inline-flex;
    box-sizing: border-box;
    width: 45%;
    height: 2rem;
    padding: 5px;
    margin: 5px;
    
}

legend {
    text-transform: uppercase;
    float: left;
    margin: 5px 0 5px 40px;
}

::placeholder, select, input{
    color: black;
    font-size: 0.8rem;
}

/* terms and conditions section */

.terms-conditions {
    height: 400px;
    width: 90%;
    overflow-y: scroll;
    clear: both;
    margin: 20px auto;
    padding: 5px; 
    border: 1px solid white;
    text-align: left;
}

.terms-conditions p {
    font-size: 0.90rem;
}

.agree-checkbox {
    width: 90%;
    margin: 20px auto;
    text-align: left;
    padding: 5px;

}

.submit-button {
    padding: 10px;
    float: left;
    margin: 0 0 25px 45px;
    background-color: transparent;
    color: red;
    border: 1px solid red;
    border-radius: 10px;
}

.reset-button {
    padding: 10px;
    float: left;
    margin: 0 0 25px 25px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
}

/* Class Timetable Section */

.timetable-heading {
    text-align: center;
    margin: 4rem auto 0 auto;
}

.timetable-heading p {
    padding-top: 1rem;
    font-size: 0.90rem;
}

.timetable {
    width: 1000px;
    border-collapse: collapse;
    text-align: left;
    margin: 2rem auto 4rem auto;
    border: 1px solid white;
    text-transform: uppercase;
}

.timetable th {
    background-color: rgba(244, 5, 5, .7);
    font-weight: normal;
    height: 2rem;
    padding: 10px;
    border-bottom: 1px solid white;
}

.timetable td {
    padding: 10px;
    height: 2rem;
    font-size: 0.90rem;
    border-bottom: 1px solid white;
}

.timetable p {
    text-transform: none;
}

/* Footer Section */

footer {
    height: 60px;
    width: 100%;
    background-color: rgba(244, 5, 5, .7);
    text-align: center;
}

footer li  {
    display: inline;
}

footer i {
    font-size: 2rem;
    line-height: 60px;
    margin: 1rem 5rem;
    color: white;
}

/* screen adjustment */

@media screen and (max-width: 1200px) {

    /*logo and nav menu */

    header {
        text-align: center;
    }

    #logo {
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
    
    #menu {
        width: 100%;
        background-color: rgba(0, 0, 0, .7);

    }
    
    /*facilities section screen adjustment */

    .facilities-wrapper {
        width: 100%;
    }

    .facilities {
        display: inline;
        text-align: center;
    }

    .facilities .facilities-sections {
        background-color: rgba(244, 5, 5, .7);
        width: auto;
        margin: 0px 2rem 2rem 2rem;
        padding: 1rem;
        line-height: 2rem;
    }

    /*Submission form screen adjustment */

    .submission-form {
        max-width: 800px;
        margin: 6rem auto 4rem auto;
    }

    legend {
        margin: 5px 0 5px 30px;
    }

    #submit-button {
        margin: 0 0 25px 35px;
    }

    /*Class timetable heading */

    .timetable-heading {
        text-align: center;
        margin: 6rem auto 0 auto;
    }

    .timetable {
        width: 800px;
    }

}
@media screen and (max-width: 1000px) {

    /* Class Timetable */
    .timetable-heading {
        font-size: 1.5rem;
    }

    .timetable {
        width: 700px;
    }

    .timetable th {
        font-size: 0.90rem;
    }
    
    .timetable td {
        font-size: 0.80rem;
    }

    /*footer */

    footer i {
        font-size: 2rem;
        margin: 1rem 3rem;
    }

}

@media screen and (max-width: 850px) {

    .contact {
        display: inline-block;
        margin-top: 2rem;
        justify-content: center;
    }

    .contact-left {
        width: 100%;
        margin-bottom: 2rem;
    
    }
    
    .contact-right {
        width: 100%;
    
    }
}

@media screen and (max-width: 800px) {

    /*Submission form screen adjustment */

    #logo {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    /*nav menu */
    #menu li {
        margin-right: 2rem;
        font-size: 0.90rem;
    }

    .facilities {
        font-size: 0.90rem;
    }

    .submission-form {
        max-width: 600px;
    }

    legend {
        margin: 5px 0 5px 20px;
    }

    #submit-button {
        margin: 0 0 25px 25px;
    }

    /* Class timetable */

    .timetable {
        width: 600px;
    }

    .timetable th {
        padding: 5px;
    }

    .timetable td {
        padding: 5px;
    }
}

@media screen and (max-width: 700px) {

    .timetable {
        width: 500px;
    }

    .timetable th {
        padding: 2px;
        font-size: 0.80rem;
    }


}

@media screen and (max-width: 550px) {

    body {
        font-size: 14px;
    }

    #logo {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.3rem;
    }

       /*nav menu */
       #menu li {
        margin-right: 1rem;
    }

    /* jointodayform */

    legend {
        font-size: 0.80rem;
    }

    .terms-conditions p {
        font-size: 0.80rem;
    }

    /*timetable*/

    .timetable-heading p {
        font-size: 0.80rem;
    }

    .timetable {
        width: 460px;
    }

     /*footer */

    footer i {
        margin: 1rem 2rem;
        font-size: 1.3rem;
    }

}