@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Rubik', sans-serif;
    color: white;
    background-color: black;
    font-size: 16px;
}

/* Headings and Header */

header {
    background-color: rgba(244, 5, 5, .7);
    width: 100%;
    height: 60px;
}

h2 {
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 3px;
    font-style: italic;

}

/* Nav Menu */

#logo {
    font-family: 'Russo One', sans-serif;
    float: left;
    margin-left: 3rem;
    font-size: 2.5rem;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
}

#menu, #logo {
    line-height: 60px;
}

#menu {
    float: right;
}

#menu li {
    list-style-type: none;
    display: inline-block;
    margin-right: 3rem;
}

#menu a {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
}

/*Hero Image section */

#hero {
    height: 100vh;
    width: 100%;
    background: url('../images/pexels-jonathan-borba-3076514.jpg') no-repeat left 35% top;
    background-color: black;

}

/* Join today section */

.join {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 2rem;
    background-color: rgba(0, 0, 0, .7);
}

.join h2 {
    margin: 1.5rem;
}

.join a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-radius: 1rem;
    border: 2px solid white;
    padding: 0.75rem;
}

/* Facilities Section */

.facilities-wrapper {
    margin-top: 2rem;
}

.facilities-wrapper h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.facilities {
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
}

.facilities .facilities-sections {
    background-color: rgba(244, 5, 5, .7);
    width: 30%;
    margin: 0px 5px 6rem 5px;
    padding: 1rem;
    line-height: 2rem;
}

.facilities-sections h3 {
    text-transform: uppercase;
}

.facilities-sections i {
    font-size: 3rem;
    margin-top: 1rem;
}



/* Submission Form Section */

#page-background {
    background: url('../images/risen-wang-20jX9b35r_M-unsplash\ \(1\).jpg') no-repeat center center;
    background-color: rgba(0, 0, 0, .7);
}

.submission-form {
    max-width: 1000px;
    margin: 4rem auto;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .7);
    text-align: center;
}

#form-heading {
    margin-bottom: 10px;
    padding: 5px;
    text-transform: uppercase;
    background-color: rgba(244, 5, 5, .7);
}

.form-divs {
    justify-content: center;
    clear: both;

}

.double {
    display: inline-flex;
    box-sizing: border-box;
    width: 45%;
    height: 2rem;
    padding: 5px;
    margin: 5px;
    
}

legend {
    text-transform: uppercase;
    float: left;
    margin: 5px 0 5px 40px;
}

::placeholder {
    color: black;
}

/* terms and conditions section */

.terms-conditions {
    height: 400px;
    width: 90%;
    overflow-y: scroll;
    clear: both;
    margin: 20px auto;
    padding: 5px; 
    border: 1px solid white;
    text-align: left;
}

.terms-details {
    font-size: 0.90rem;
}


#agree-checkbox {
    width: 90%;
    margin: 20px auto;
    text-align: left;
    padding: 5px;

}

#submit-button {
    font-size: 100%;
    padding: 10px;
    float: left;
    margin: 0 0 25px 45px;
    background-color: rgba(244, 5, 5, .7);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}

#reset-button {
    font-size: 100%;
    padding: 10px;
    float: left;
    margin: 0 0 25px 25px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
}


/* Class Timetable Section */

.timetable-heading {
    text-align: center;
    margin: 4rem auto 0 auto;
}

.timetable-heading p {
    padding-top: 1rem;
    font-size: 0.90rem;
}

.timetable {
    width: 1000px;
    border-collapse: collapse;
    text-align: left;
    margin: 2rem auto 4rem auto;
    border: 1px solid white;
    text-transform: uppercase;
}

.timetable th {
    background-color: rgba(244, 5, 5, .7);
    font-weight: normal;
    height: 2rem;
    padding: 10px;
    border-bottom: 1px solid white;
}

.timetable td {
    padding: 10px;
    height: 2rem;
    font-size: 0.90rem;
    border-bottom: 1px solid white;
}

/* Class Description Section */

.description-table {
    width: 1000px;
    margin: 2rem auto 4rem auto;
    border-collapse: collapse;
    border: 1px solid white;
}

.description-table th {
    background-color: rgba(244, 5, 5, .7);
    font-weight: normal;
    height: 2rem;
    border-bottom: 1px solid white;
    text-align: left;
    padding: 10px;

}

.description-table td {
    padding: 10px;
    height: 2rem;
    font-size: 0.90rem;
    border-bottom: 1px solid white;
}



/* Footer Section */

footer {
    height: 60px;
    width: 100%;
    background-color: rgba(244, 5, 5, .7);
    margin: 0;
    text-align: center;
}

footer li  {
    display: inline;
}

footer i {
    font-size: 2rem;
    line-height: 60px;
    margin: 14px 60px;
    color: white;
}

/* screen adjustment */

@media screen and (max-width: 1200px) {

    /*logo and nav menu */

    header {
        text-align: center;
    }

    #logo {
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
    
    #menu {
        width: 100%;
        background-color: rgba(0, 0, 0, .7);

    }
    
    /*facilities section screen adjustment */

    .facilities {
        display: inline;
        text-align: center;
    }

    .facilities .facilities-sections {
        background-color: rgba(244, 5, 5, .7);
        width: auto;
        margin: 0px 2rem 2rem 2rem;
        padding: 1rem;
        line-height: 2rem;
    }

    /*Submission form screen adjustment */

    .submission-form {
        max-width: 800px;
        margin: 6rem auto 4rem auto;
    }

    legend {
        margin: 5px 0 5px 30px;
    }

    #submit-button {
        margin: 0 0 25px 35px;
    }

    /*Class timetable heading */

    .timetable-heading {
        text-align: center;
        margin: 6rem auto 0 auto;
    }

    .timetable {
        width: 800px;
    }

    .description-table{
        width: 800px;
    }

}
@media screen and (max-width: 1000px) {

    /* Class Timetable */
    .timetable-heading {
        font-size: 1.5rem;
    }

    .timetable {
        width: 700px;
    }

    .timetable th {
        font-size: 0.90rem;
    }
    
    .timetable td {
        font-size: 0.80rem;
    }

    /* description table */

    .description-table {
        width: 700px;
    }

    .description-table th {
        font-size: 0.90rem;

    }

    .description-table td {
        font-size: 0.80rem;
    }

}

@media screen and (max-width: 800px) {

    /*Submission form screen adjustment */

    #logo {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .submission-form {
        max-width: 600px;
    }

    legend {
        margin: 5px 0 5px 20px;
    }

    #submit-button {
        margin: 0 0 25px 25px;
    }

    /* Class timetable */

    .timetable {
        width: 600px;
    }

    .timetable th {
        padding: 5px;
    }

    .timetable td {
        padding: 5px;
    }

    .description-table {
        width: 600px;
    }

    .description-table th {
        padding: 5px;
    }

    .description-table td {
        padding: 5px;
    }
}